@use "sass:map";
@import "./variables.scss";
@import "./mixins.scss";
@import "./functions.scss";

nav {
  &#navigation-top {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &.hidden {
      transform: translateY(-100%); /* Hides the navbar */
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style: none;

    li {
      padding: $main-pad * 1.5;

      &:hover:not(.logo) {
        @include backgroundColor("primary-green");
        @include border-radius();

        a {
          color: white;
        }
      }

      a {
        @include navbarItem();
        @include color("dark-text-color");
        text-transform: uppercase;
        text-decoration: none;

        img {
          min-width: calculate-rem(100px);
          max-width: calculate-rem(200px);
        }

        &.active {
          @include color("primary-yellow");
        }
      }
    }
  }
}

#burger-menu {
  padding: calculate-rem(20px);
}

#chakra-modal-navigation-mobile {
  #chakra-modal--header-navigation-mobile {
    @include backgroundColor("white");
    .fa-xmark {
      position: absolute;
      top: calculate-rem(5px);
      right: calculate-rem(10px);
    }
  }

  #chakra-modal--body-navigation-mobile {
    nav {
      ul {
        display: flex;
        flex-direction: column;
        align-items: self-start;
        gap: calculate-rem(5px);

        a {
          @include font-size("lead-text");
          text-transform: capitalize;
          width: calculate-rem(150px);
          &.active {
            border-bottom: calculate-rem(1px) solid
              map.get($colors, "primary-yellow");
          }
        }
      }
    }
  }
}
