@use "sass:map";
@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import "./styles/functions.scss";

.App {
  display: flex;
  flex-direction: column;
  font-family: Karla;
}

header {
  display: flex;
  flex-wrap: wrap;
  background-color: map.get($colors, "primary-green");
  justify-content: center;
  align-items: center;
  padding: 0 calculate-rem(50px);

  h1 {
    @include title();
    margin-bottom: 0;
    color: map.get($colors, "primary-yellow");
  }

  h3 {
    @include subTitle();
    color: white;
  }

  p {
    @include paragraphText();
    max-width: 65ch;
    color: white;
  }

  section {
    max-width: calculate-rem(500px);
    min-width: calculate-rem(499px);
    max-height: calculate-rem(400px);
    min-height: calculate-rem(430px);

    @include max-width-querie("mobile") {
      min-width: calculate-rem(315px);
      min-height: calculate-rem(555px);
    }

    div {
      position: relative;
      overflow: hidden;
      margin-top: calculate-rem(30px);
      height: calculate-rem(450px);
      border-radius: $border-radius;

      @include max-width-querie("mobile") {
        margin-top: calculate-rem(40px);
        height: calculate-rem(300px);
      }

      img {
        position: absolute;
        top: calculate-rem(-170px);
        right: 0;
        width: 100%;
      }
    }

    button {
      @include primaryButton();
      margin-bottom: calculate-rem(20px);
      margin-top: calculate-rem(20px);
    }
  }
}

main {
  #highlights-section {
    padding: calculate-rem(100px) 10%;
    scroll-behavior: smooth;

    div.first-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: calculate-rem(30px);

      h2 {
        @include sectionTitle();
      }

      button {
        @include primaryButton();
      }
    }

    .grid-card {
      margin-top: calculate-rem(20px);
      display: grid;
      gap: calculate-rem(30px);

      @include min-width-querie("mobile") {
        grid-template-columns: 1fr;
      }

      @include min-width-querie("tablet") {
        grid-template-columns: repeat(2, 1fr);
      }

      @include min-width-querie("laptop") {
        grid-template-columns: repeat(3, 1fr);
      }

      @include min-width-querie("bigger") {
        grid-template-columns: repeat(8, 1fr);
      }

      .card {
        @include backgroundColor("light-gray");
        border-radius: $border-radius;
        overflow: hidden;

        .card-image {
          position: relative;
          min-height: calculate-rem(230px);
          max-height: calculate-rem(240px);
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        .card-title {
          display: flex;
          justify-content: space-between;
          padding: $main-pad;

          h3 {
            @include cardTitle();
          }

          p {
            @include highlightText();
            @include font-weight("semi-bold");
            @include color("primary-orange");
          }
        }

        .card-body {
          padding: 0 $main-pad;

          p {
            @include paragraphText();
          }
        }

        .card-footer {
          display: flex;
          align-items: center;
          padding: $main_pad * 2 $main-pad;
          gap: calculate-rem(25px);

          button {
            @include minimalistButton();
          }

          img.delivery-icon {
            width: calculate-rem(35px);

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  #testimonials-section {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    font-family: Karla;

    h2 {
      @include sectionTitle();
    }

    .grid {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: calculate-rem(20px);

      @include max-width-querie("tablet") {
        flex-direction: column;
      }

      @include max-width-querie("mobile") {
        flex-direction: column;
      }

      article {
        &:not(:last-of-type) {
          @include max-width-querie("tablet") {
            padding-bottom: $main-pad * 2.5;
            border-bottom: 1px solid map.get($colors, "dark-gray");
          }
        }

        .rating {
          @include highlightText();
          @include font-weight("bold");
        }

        .two-column {
          display: flex;
          align-items: center;
          gap: calculate-rem(15px);
        }

        hr {
          width: calculate-rem(20px);
          margin: calculate-rem(10px) 0;
          color: map.get($colors, "primary-yellow");
        }

        img {
          border-radius: 50%;
          border: calculate-rem(3px) solid map.get($colors, "primary-green");
          //   filter: drop-shadow(3px 3px 5px map.get($colors, "primary-green"));
        }

        h4 {
          @include leadText();
          margin: calculate-rem(10px) 0 0 0;
        }

        .feedback-text {
          @include paragraphText();
          font-size: calculate-rem(10pt);

          &::before {
            content: '"';
            font-family: "Times New Roman", "Courier New", Courier, monospace;
            @include font-weight("bold");
            font-size: calculate-rem(20pt);
          }
        }
      }
    }
  }

  #about-section {
    margin-top: calculate-rem(150px);
    padding: 0 10%;
    display: flex;
    gap: calculate-rem(20px);

    @include max-width-querie("laptop") {
      flex-direction: column;
    }

    div {
      display: flex;
      flex-basis: 50%;

      &:first-child {
        flex-direction: column;
      }

      h2 {
        @include title();
        @include font-weight("bold");
        @include color("primary-green");
        margin: 0;
      }

      h3 {
        @include subTitle();
        @include color("primary-yellow");
      }

      p {
        @include paragraphText();
        max-width: 65ch;
      }
    }

    .images-column {
      position: relative;

      @include max-width-querie("mobile") {
        min-height: calculate-rem(400px);
      }

      @include max-width-querie("laptop") {
        margin-top: calculate-rem(50px);
      }

      div {
        max-width: calculate-rem(500px);
        height: auto;

        @include max-width-querie("mobile") {
          max-width: calculate-rem(350px);
        }

        &.absolute-parent {
          position: absolute;
          overflow: hidden;
          right: calculate-rem(-50px);
          top: calculate-rem(-50px);
          width: calculate-rem(300px);
          height: calculate-rem(350px);
          border-left: 1px solid map.get($colors, "primary-yellow");
          border-bottom: 1px solid map.get($colors, "primary-yellow");
          filter: drop-shadow(-4px 4px 6px #000);

          @include max-width-querie("mobile") {
            width: calculate-rem(290px);
            height: calculate-rem(190px);
            top: calculate-rem(210px);
            right: calculate-rem(-26px);
          }
        }
      }
      img {
        max-width: calculate-rem(600px);
        height: auto;

        &.absolute {
          position: absolute;
          right: calculate-rem(-90px);

          @include max-width-querie("mobile") {
            right: calculate-rem(-45px);
            top: calculate-rem(-25px);
          }
        }
      }
    }
  }
}

footer {
  margin-top: calculate-rem(100px);
  padding: $main-pad * 2.5 10%;
  display: grid;
  gap: calculate-rem(50px);
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid map.get($colors, "darker-green");
  align-items: center;

  @include max-width-querie("laptop") {
    grid-template-columns: repeat(3, 1fr);
  }

  div {
    min-height: 100%;
  }

  img {
    max-width: calculate-rem(300px);

    @include max-width-querie("laptop") {
      margin: 0 auto;
      grid-column: 1 / span 3;
    }
  }

  nav {
    display: flex;
    flex-direction: column;

    a {
      color: #000;
      text-decoration: none;
      &:hover {
        text-decoration: underline map.get($colors, "primary-yellow");
      }
    }
  }

  .socials {
    div {
      display: flex;
      gap: calculate-rem(10px);
    }

    img {
      max-height: calculate-rem(20px);
    }
  }
}
